<div class="list-actions">
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="searchValue">
    <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addRecipeButton()">Add recipe</button>
</div>

<mat-list>
  <mat-list-item *ngFor="let item of list | searchFilter: searchValue"
                 [ngClass]="{'selected-row': selectedItemId === item.id}"
                 class="list-item">
    <div class="list-item">
      <span class="recipe-name" (click)="selectItem(item.id)">{{item.name}}</span>
      <span>
       <mat-icon class="action-icon">edit</mat-icon>
       <mat-icon class="action-icon" (click)="openDeleteConfirmationDialog(item.id)">delete</mat-icon>
      </span>
      </div>
  </mat-list-item>
</mat-list>
