<div class="list-actions">
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput type="text" [formControl]="searchControl">
    <button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchControl.value" (click)="clearSearchInput()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addRecipeButton()">Add recipe</button>
</div>

<mat-list>
  <mat-list-item *ngFor="let item of list$ | async | searchFilter: searchControl.value"
                 [ngClass]="{'selected-row': selectedItemId === item.id}">
    <div class="list-item">
      <span class="recipe-name" (click)="selectItem(item)">{{item.name}}</span>
      <span>
       <mat-icon class="action-icon"
                 (click)="editRecipe(item)"
                 matTooltip="Edit recipe">edit
       </mat-icon>
       <mat-icon class="action-icon"
                 (click)="openDeleteConfirmationDialog(item.id)"
                 matTooltip="Delete recipe">delete
       </mat-icon>
      </span>
    </div>
  </mat-list-item>

</mat-list>
