:host {
  border: 1px solid black;
  padding: 30px;
}

.selected-row {
  color: red;
}

.action-icon {
  cursor: pointer;
  margin-left: 10px;
}

.recipe-name {
  cursor: pointer;
}

.list-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
