.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  height: 80px;
  color: white;
  font-size: 24px;

  .app-name, .info-icon {
    margin: 30px;
  }

  .info-icon {
    cursor: pointer;
  }
}
